{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <h1> {{ title }} </h1>
  <h2>Startsida</h2>
  <p>Spel recensioner, klicka här på <a href="/reviews">recensioner</a> för att se alla spel recensioner!</p>
</main>
{% endblock %}