{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
    <h1>Lägg till din recension</h1>
    <form action="/reviewform" method="post">
        <input type="text" name="title" id="title" required></input>
        <textarea name="reviewtext" id="reviewtext" cols="30" rows="10"></textarea>
        <input type="submit" value="Skapa recension"></input>
    </form>
</main>
{% endblock %}