{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
  <a href="/reviews">Tillbaka till alla recensioner</a>
  <div class="card">
    <h1> {{ review.title }}</h1>
    <h2> Score: {{ review.score }}</h2>
    <p> {{ review.text }}</p>
  </div>
</main>
{% endblock %}